*.iws
*.lcov
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.tgz
*.vim
*~
./update_*
.DS_Store
.cache
.cache/
.coverage
.coverage.*
.docusaurus
.dynamodb/
.env
.env*.local
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.netrwhist
.next
.node_repl_history
.npm
.nuxt
.parcel-cache
.pnp.*
.pnp.js
.temp
.tern-port
.vercel
.yarn/*
/.next/
/.pnp
/.vagrant
/vendor/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
__pycache__
_tests/.tmp
_tests/coverage
_tests/reports
megalinter-reports/
node_modules/
out/
reports/**/*.xml
tags
tests/reports/**/*.json
uv.lock
