---
name: Release Daily State

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *' # 00:00 at Europe/Helsinki

permissions: read-all

jobs:
  new-daily-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    outputs:
      created: ${{ steps.daily-version.outputs.created }}
      version: ${{ steps.daily-version.outputs.version }}

    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta

      - name: Create tag if necessary
        uses: fregante/daily-version-action@fb1a60b7c4daf1410cd755e360ebec3901e58588 # v2.1.3
        id: daily-version

      - name: Create changelog text
        if: steps.daily-version.outputs.created
        id: changelog
        uses: loopwerk/tag-changelog@941366edb8920e2071eae0449031830984b9f26e # v1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config_file: .github/tag-changelog-config.js

      - name: Create release
        if: steps.daily-version.outputs.created
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ steps.daily-version.outputs.version }}
          name: Release ${{ steps.daily-version.outputs.version }}
          body: ${{ steps.changelog.outputs.changes }}
          allowUpdates: true
