---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Sync Labels

on:
  push:
    branches:
      - main
      - master
    paths:
      - '.github/labels.yml'
      - '.github/workflows/sync-labels.yml'
      - 'sync-labels/action.yml'
      - 'sync-labels/labels.yml'
  schedule:
    - cron: '34 5 * * *' # Run every day at 05:34 AM UTC
  workflow_call:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  labels:
    name: ♻️ Sync Labels
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      issues: write

    steps:
      - name: ⤵️ Checkout Repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
      - name: ⤵️ Sync Latest Labels Definitions
        uses: ./sync-labels
